{% extends "site.twig" %}

{% block content %}

    <h1>{{ header|raw }}</h1>

    {# Выводим по порядку все аддоны #}
    {% for value in addons %}
        {{ value.content|raw }}
    {% endfor %}

    {% if parts|length > 0 %}
        <ul>
            {% for part in parts %}
                <li><a href="{{ part.url }}">{{ part.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}