php_flag magic_quotes_gpc off 
php_value magic_quotes_gpc Off

Options +Includes +FollowSymLinks -Indexes
AddDefaultCharset utf-8

ErrorDocument 404 /404.html

RewriteEngine on
RewriteBase /[[SUBFOLDER]]

# Редирект с [[DOMAIN_FROM]] на [[DOMAIN_TO]]
RewriteCond %{HTTP_HOST} ^[[DOMAIN_FROM_ESC]]
RewriteRule ^(.*)$ http://[[DOMAIN_TO]]/$1 [R=permanent,L]

# Captcha
RewriteRule ^images/captcha.jpeg$ /[[CMS]]/Ideal/Library/captcha/cheak.php?code=1 [L]
RewriteRule ^images/captcha.jpg$ /[[CMS]]/Ideal/Library/captcha/image.php [L]

#redirect#
#redirect#

# Если файл есть на диске, с ним ничего не происходит
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^(.*)$ - [NC,L]

# Если файла на диске нет, вызывается скрипт
RewriteRule ^.*$ [[SUBFOLDER_START_SLASH]]/_.php [NC,L]