php_flag magic_quotes_gpc off 
php_value magic_quotes_gpc Off

Options -Includes +FollowSymLinks -Indexes
AddDefaultCharset utf-8

ErrorDocument 404 /404.html

RewriteEngine on
RewriteBase /[[SUBFOLDER]]

# Редирект с [[DOMAIN_FROM]] на [[DOMAIN_TO]]
RewriteCond %{HTTP_HOST} ^[[DOMAIN_FROM_ESC]]
RewriteRule ^(.*)$ http://[[DOMAIN_TO]]/$1 [R=permanent,L]

# Captcha
RewriteRule ^images/captcha.jpeg$ /[[CMS]]/Ideal/Library/captcha/cheak.php?code=1 [L]
RewriteRule ^images/captcha.jpg$ /[[CMS]]/Ideal/Library/captcha/image.php [L]

#redirect#
#redirect#

# Если файл есть на диске, с ним ничего не происходит
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^(.*)$ - [NC,L]

# Если картинки с изменёнными размерами нет, то создаём
RewriteRule ^images/resized/(.*) /[[CMS]]/Ideal/Library/Resize/image.php?img=$1 [L,QSA]

# file cache redirects
# Запрашивается главная страница
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/index.html -f [OR]
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/index.html -l
RewriteRule ^$ tmp/cache/fileCache/index.html [NC,L]

# Запрашивается внутреннея страница при установленном суффиксе "/" или при отсуствии суффикса
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/%{REQUEST_URI}/index.html -f [OR]
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/%{REQUEST_URI}/index.html -l
RewriteRule ^(.*)$ tmp/cache/fileCache/$1/index.html [NC,L]

# Запрашивается внутреняя страница при произворльном значении суффикса
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/%{REQUEST_URI} -d [OR]
RewriteCond %{DOCUMENT_ROOT}/tmp/cache/fileCache/%{REQUEST_URI} -l
RewriteRule ^(.*)$ tmp/cache/fileCache/$1 [NC,L]
# file cache redirects

# Если файла на диске нет, вызывается скрипт
RewriteRule ^.*$ [[SUBFOLDER_START_SLASH]]/_.php [NC,L]

# browser cache
# end browser cache