{% extends "admin.twig" %}

{% block content %}

<div style="margin-top: 8%;">
    {% if message != '' %}
    <div class="alert alert-error span3 offset4" style="padding-right: 24px;">
        {{ message }}
    </div>
    {%  endif %}
    <form method="post" action="" class="well span3 offset4">
        <div class="control-group">
            <label class="control-label" for="user">Логин:</label>
            <div class="controls">
                <input type="text" class="input span3" id="user" name="user" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="pass">Пароль:</label>
            <div class="controls">
                <input type="password" class="input span3" id="pass" name="pass" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" name="but" value="Вход" type="submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}